a {
    color: darkblue;
    text-decoration: none;
}
a:hover {
   text-decoration: underline; 
}
a:visited {
    color: purple;
    text-decoration: none;
}
img {
    height: 324px;
    width: 576px;
    margin: 4px;
    padding: 4px;
    border: 1px solid black;
}