* {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
    text-align: justify;
    padding: 0px;
    margin: 0px;
}
h1 {
    text-align: center;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: burlywood;
    color: aliceblue;
    -webkit-text-stroke: 0.7px black; 
}
header {
    margin: 40px;
    padding: 25px;
    background-color: burlywood;
    font-size: 20px;
    border: 1px solid black;
}
button {
    text-decoration: none;
    height: 40px;
    width: 80px;
    font-size: 18px;
    text-align: center;
    align-self: flex-end;
}
button > a {
    font-size: 18px;
}
div.bio > h3 > p {
    font-size: 32px;
    border: 1px solid black;
    margin: 40px;
    font-family: sans-serif;
    background-color: burlywood;
    color: aliceblue;
    -webkit-text-stroke: 0.7px black; 
}
body {
    background-color: #fff;
}
.home {
    display: flex;
    flex-wrap: wrap;
}
h2 {
    text-align: center;
    font-style: bold;
    font-size: 28px;
    background-color: #fff;
}
td {
    text-align: center;
}
td.desc {
    font-size: 28px;
    border: 1px solid black;
    margin: 40px;
    font-family: sans-serif;
    font-weight: bold;
    background-color: burlywood;
    color: aliceblue;
    -webkit-text-stroke: 0.5px black; 
}
p {
    margin: 20px;
    padding: 20px;
    font-family: sans-serif;
    font-weight: bold;
    overflow-wrap: break-all;
} 
.jaciments {
    flex: 1;
    min-width: 250px;
}
.jaciments:first-child {
    flex: 2;
    padding: 25px;
    background-color: #fff;
    margin-bottom: 0px;
}
.jaciments div {
    padding: 25px;
    background-color: #fff;
    margin: 20px;
}
a {
    color: darkblue;
    text-decoration: none;
    font-size: 28px;
}
a:hover {
   text-decoration: underline; 
}
a:visited {
    color: purple;
    text-decoration: none;
}
img {
    height: 324px;
    width: 576px;
    border: 1px solid black;
}
.enlaces > a {
    height: 100px;
    width: 150px;
    text-align: center;
}
a > img {
    height: 100px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}
iframe {
    height: 324px;
    width: 576px;
    margin: 1px;
    padding: 1px;
}
footer {
    font-size: 16px;
    text-align: right;
}