* {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    text-align: justify;
    padding: 0px;
    margin: 0px;
}
body {
    background-color: #ededed;
}
.home {
    display: flex;
    flex-wrap: wrap;
}
.jaciments {
    flex: 1;
    min-width: 250px;
}
.jaciments:first-child {
    flex: 2;
    padding: 25px;
    background-color: #fff;
    margin-bottom: 0px;
}
.jaciments div {
    padding: 25px;
    background-color: #fff;
    margin: 20px;
}
a {
    color: darkblue;
    text-decoration: none;
    font-size: 20px;
}
a:hover {
   text-decoration: underline; 
}
a:visited {
    color: purple;
    text-decoration: none;
}
img {
    height: 324px;
    width: 576px;
    margin: 2px;
    padding: 2px;
    border: 1px solid black;
}
footer {
    font-size: 12px;
    text-align: right;
}