header {							/*header*/
	display: flex;
	flex-direction: row;
	justify-content: center;
	height: 75%
	 }

  header > img{
	height: 200px;
		}

.contenidor_botons{
	display: grid;
	width:100%;
}

.button{display: flex;
	align-items:center;
	height: 65%;
}

*{box-sizing:border-box;}                   /*formulari*/

form{
	width:350px;
	padding:16px;
	border-radius:10px;
	margin:auto;
	background-color:#ccc;
}

form label{
	width:90px;
	font-weight:bold;
	display:inline-block;
}

form input[type="text"],
form input[type="email"]{
	width:180px;
	padding:3px 10px;
	border:1px solid #f6f6f6;
	border-radius:3px;
	background-color:#f6f6f6;
	margin:8px 0;
	display:inline-block;
}

form input[type="submit"]{
	width:100%;
	padding:8px 16px;
	margin-top:32px;
	border:1px solid #000;
	border-radius:5px;
	display:block;
	color:#fff;
	background-color:#000;
} 

form input[type="submit"]:hover{
	cursor:pointer;
}

textarea{
	width:100%;
	height:100px;
	border:1px solid #f6f6f6;
	border-radius:3px;
	background-color:#f6f6f6;			
	margin:8px 0;
	resize:none;
	display:block;
}

.footer {                                       /*peu de pàgina*/
    background-color: gray;
    position: absolute;
    bottom: 0;
	height:300px;
    width: 100%;
    color: white;
  }
a:visited {text-decoration: none;}